body, html {
  background-color: #1C1F27;
  height: 100%;
}

.row {
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.main {
  min-height: 95%;
  height: 95%;
}

.title {
  color: #FFF;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

.version {
  color: #97a3bd;
  font-family: 'Rubik', sans-serif;
}

.subtitle {
  color: #FFF;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-weight: 500;
}

.footer-text {
  color: #FFF;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin-left: 1rem;
}

.green {
  color: #29c385;
}

.list {
  color: #FFF;
  font-family: 'Rubik', sans-serif;
}

.btn-custom {
  color: #fff !important; 
  background-color: #29c385;
  border-color: #29c385;
  transition: 250ms ease-in;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  font-family: 'Rubik', sans-serif;
}

.btn-custom:hover {
  color: #fff !important;
  background-color: #1C1F27;
  border-color: #1C1F27;
  box-shadow: 2px 2px 0px 1px #29c385;
  transform: translate(-5px, -5px);
}

.gp-button {
  width: 200px;
  height: 100%;
}

.screenshot {
  margin: 2rem;
  width: 320px;
  height: 640px;
}

.custm-link, .custm-link:hover {
  color: #FFF;
}

.paragraphtext {
  color: #FFF
}

.topbar {
  margin-top: 2rem;
  margin-left: 7.5rem;
  margin-right:7.5rem;
}

.content {
  margin-left: 7.5rem;
  margin-right: 7.5rem;
}