body {
  background-color: #161616;
}

a {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #e5e5e5;
  text-decoration-color: #707070;
  text-decoration-thickness: 2px;
  transition: text-decoration-color 0.25s ease-in;
}

a:hover {
  text-decoration-color: #999999;
}

.header {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #e5e5e5;
  line-height: 1.5;
}

.container {
  width: 100%;
  margin: 0 auto;
  flex: 1;
  flex-direction: column;
  max-width: 650px;
}

.main-container {
  margin: 5% auto;
}

.about {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #e5e5e5;
}

.section {

}

.section-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  color: #aaaaaa;
  padding-bottom: 0.5%;
}

.footer {
  border-top: 2px solid #2b2b2b;
  padding: 4px 0; 
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #e5e5e5;
  margin: 8px 0px;
}

.footer-socials {
  display: flex;
  gap: 16px;
  align-items: center;
}

.faded {
  color: #8d8d8d;
}

/* Small Screens */
@media only screen and (max-width: 800px) {
  .main, .projects, .experiences, .fixedName {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .bio {
    font-size: 16px;
  }

  .headerMd {
    font-size: 20px;
  }

  .headerLg {
    font-size: 24px;
  }

  .cardsub {
    font-size: 12px;
  }

}

/* Medium Screens */
@media only screen and (min-width: 800px) {
  .main, .projects, .experiences, .fixedName {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .bio {
    font-size: 16px;
  }

  .headerMd {
    font-size: 26px;
  }

  .headerLg {
    font-size: 34px;
  }

  .cardsub {
    font-size: 12px;
  }

}

/* Large Screens */
@media only screen and (min-width: 1200px) {
  .main, .projects, .experiences, .fixedName {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .bio {
    font-size: 20px;
  }

  .headerMd {
    font-size: 32px;
  }

  .headerLg {
    font-size: 44px;
  }

  .cardsub {
    font-size: 16px;
  }

}