body {
  background-color: #1f2022;
}

.main {
  padding-top: 2%;
  animation-delay: 250ms;
}

.projects {
  animation-delay: 900ms;
  margin-bottom: 5rem;
}

.fixedName {
  margin-top: 15px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  color: white;
}


.nameHeader {
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 500;
  color: white;
  line-height: 1.5;
}

.bio {
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  color: white;
  padding-bottom: 2%;
  line-height: 1.35;
}

.sectiontitle {
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  color: white;
  padding-top: 2%; 
  padding-bottom: 0.5%;
}



.carddark {
  background-color: #242424;
  color: white !important;
  transition: 250ms ease-in;
  margin-bottom: 1rem;
}

.cardgreen{
  background-color: #17B978;
  color: white !important;
  transition: 250ms ease-in;
  margin-bottom: 1rem;
}

.cardwhite{
  background-color: #FFFFFF;
  color: black !important;
  transition: 250ms ease-in;
  margin-bottom: 1rem;
}


/* .carddark:hover {
  box-shadow: 2px 2px 0px 1px rgba(247, 208, 89, 1);
  transform: translate(-5px, -5px);
} */

.cardtitle {
  font-family: 'Palanquin Dark', sans-serif;
  margin-bottom: 2%;

}

.cardsub {
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;

}

.cardbody {
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 1rem;
}


/* 
Button w/ Animation
.btn-custom {
  color: #fff !important; 
  background-color: #03a9f4;
  border-color: #03a9f4;
  transition: 250ms ease-in;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
}

.btn-custom:hover {
  color: #1f2022 !important;
  background-color: white;
  border-color: white;
  box-shadow: 2px 2px 0px 1px #03a9f4;
  transform: translate(-5px, -5px);
} */


.btn-custom {
  color: #1f2022 !important;
  background-color: white;
  border-color: white;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  box-shadow: none;
}

.btn-custom:hover{
  color: white !important;
  background-color: #1f2022;
  border-color: #1f2022;
  box-shadow: none;
}

.btn-custom-inv {
  color: white !important;
  background-color: #1f2022;
  border-color: #1f2022;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  box-shadow: none;
}

.btn-custom-inv:hover{
  color: #1f2022 !important;
  background-color: white;
  border-color: white;
  box-shadow: none;
}

/* Small Screens */
@media only screen and (max-width: 700px) {
  .main, .projects, .fixedName {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .bio {
    font-size: 15px;
  }

  .nameheader {
    font-size: 28px;
  }

}

/* Medium Screens */
@media only screen and (min-width: 600px) {
  .main, .projects, .fixedName {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .bio {
    font-size: 20px;
  }

  .nameheader {
    font-size: 50px;
  }

}

/* Large Screens */
@media only screen and (min-width: 900px) {
  .main, .projects, .fixedName {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .bio {
    font-size: 20px;
  }

  .nameheader {
    font-size: 50px;
  }

}