body {
  background-color: #2F3030;
}

.main {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  animation-delay: 250ms;
}

.reg {
  font-family: 'Catamaran', sans-serif;
  font-weight: 500;
  color: white;
}

.bold {
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  color: white;
}

p {
  font-family: 'Catamaran', sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: white;
}

.listText {
  font-family: 'Catamaran', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.fa-twitter, .fa-github, .fa-linkedin-in {
  color: white;
  transition: .5s;
  padding: 5px;
  margin: 5px;
}

.fa-twitter:hover, .fa-github:hover, .fa-linkedin-in:hover {
  color: #f7d059;
  box-shadow: 2px 2px 0px 1px rgba(247, 208, 89, 1);
}

.white {
  color: white
}

a:link, a:hover, a:visited, a:active{
  color:#f7d059
}